@media(min-width:320px) and (max-width: 766px) {
  .button {
    //Блок с кнопкой
    padding: 42px 18px 49px;
    &__search {
      //Кнопка "Найти гостиницу"
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      border: none;
      background: $mainColor;
      padding: 17px 45px 14px;
      margin: 0 auto;
      max-width: 280px;
    }
  }
  .button--send-review {
    padding-bottom: 80px;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .button {
    //Блок с кнопкой
    padding: 42px 18px 49px;
    &__search {
      //Кнопка "Найти гостиницу"
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      border: none;
      background: $mainColor;
      padding: 17px 45px 14px;
      margin: 0 auto;
      max-width: 458px;
    }
  }
  .button--send-review {
    padding-bottom: 80px;
  }
}
@media(min-width:1200px) {
  .button {
    //Блок с кнопкой
    padding: 42px 18px 49px;
    &__search {
      //Кнопка "Найти гостиницу"
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      border: none;
      background: $mainColor;
      padding: 17px 45px 14px;
      margin: 0 auto;
      max-width: 458px;
    }
  }
  .button--send-review {
    padding-bottom: 80px;
  }
}
