@media(min-width:320px) and (max-width: 766px) {
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    &__developed {
      font-size: $thirdFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
    }
    &__link {
      width: 27px;
      height: 34px;
    }
  }
  .copyright-display {
    display: none;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    &__developed {
      font-size: $thirdFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
    }
    &__link {
      width: 27px;
      height: 34px;
    }
    &__img {}
  }
}
@media(min-width:1200px) {
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    &__developed {
      font-size: $thirdFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
    }
    &__link {
      width: 27px;
      height: 34px;
    }
    &__img {}
  }
}
