@media(min-width:320px) and (max-width: 766px) {
  .features-list {
    //Вложенный список в блок features
    padding-top: 42px;
    padding-right: 12%;
    padding-bottom: 32px;
    color: #000000;
    &__title {
      margin: 0;
      text-transform: uppercase;
      font-size: $mainFontSize;
      font-weight: $boldWeight;
    }
    &__item {
      //Пункт списка
      position: relative;
      padding-left: 21.87%;
    }
    &__item:nth-child(n+2) {
      margin-top: 38px;
    }
    &__desc {
      //Описание пункта списка
      margin: 21px 0 0;
      font-size: $thirdFontSize;
      text-transform: uppercase;
      line-height: 21px;
    }
    &__item-home:before {
      //Иконка пункта "Жилье"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 6%;
      top: -13px;
      background: url(../img/home-icon.png) no-repeat;
    }
    &__item-food:before {
      //Иконка пункта "Еда"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 6%;
      top: -9px;
      background: url(../img/food-icon.png) no-repeat;
    }
    &__item-souvenirs:before {
      //Иконка пункта "Сувениры"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 6.8%;
      top: -15px;
      background: url(../img/souvenirs-icon.png) no-repeat;
    }
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .features-list {
    display: flex;
    flex-direction: row;
    padding: 177px 0 63px;
    color: #000000;
    //Вложенный список в блок features
    &__title {
      margin: 0;
      font-size: $secondFontSize;
      text-transform: uppercase;
      font-weight: $boldWeight;
      text-align: center;
    }
    &__item {
      //Пункт списка
      padding: 0 35px;
      position: relative;
      text-align: center;
      width: 33.3%;
    }
    &__desc {
      //Описание пункта списка
      margin: 21px 0 0;
      font-size: $thirdFontSize;
      text-transform: uppercase;
      line-height: 21px;
    }
    &__item-home:before {
      //Иконка пункта "Жилье"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/home-icon.png) no-repeat;
    }
    &__item-food:before {
      //Иконка пункта "Еда"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/food-icon.png) no-repeat;
    }
    &__item-souvenirs:before {
      //Иконка пункта "Сувениры"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/souvenirs-icon.png) no-repeat;
    }
  }
}
@media(min-width:1200px) {
  .features-list {
    display: flex;
    flex-direction: row;
    padding: 177px 0 63px;
    color: #000000;
    //Вложенный список в блок features
    &__title {
      margin: 0;
      font-size: $secondFontSize;
      text-transform: uppercase;
      font-weight: $boldWeight;
      text-align: center;
    }
    &__item {
      //Пункт списка
      padding: 0 35px;
      position: relative;
      text-align: center;
      width: 33.3%;
    }
    &__desc {
      //Описание пункта списка
      margin: 21px 0 0;
      font-size: $thirdFontSize;
      text-transform: uppercase;
      line-height: 21px;
    }
    &__item-home:before {
      //Иконка пункта "Жилье"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/home-icon.png) no-repeat;
    }
    &__item-food:before {
      //Иконка пункта "Еда"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/food-icon.png) no-repeat;
    }
    &__item-souvenirs:before {
      //Иконка пункта "Сувениры"
      content: " ";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 43%;
      top: -83px;
      background: url(../img/souvenirs-icon.png) no-repeat;
    }
  }
}
