@media(min-width:320px) and (max-width: 766px) {
  .group-fields-about {
    border-top: 1px solid #e5e5e5;
    padding: 22px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__title {
      @include title_style;
      color: #000000;
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      margin-top: 21px;
    }
    &__input {
      width: 100%;
      font-size: $mainFontSize;
      font-weight: $boldWeight;
      border: none;
      background-color: #f2f2f2;
      padding: 17px 6.56% 17px;
      margin-top: 11px;
    }
    &__label {
      @include title_section_item;
      width: 93%;
      margin: 0 0 0 6.56%;
    }
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .group-fields-about {
    position: relative;
    padding: 22px 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
      width: 100%;
      @include title_style;
      color: #000000;
      font-size: 21px;
    }
    &__wrap {
      width: 27.1%;
      margin-top: 21px;
      margin-left: 60px;
      flex-grow: 1;
    }
    &__wrap:nth-child(2) {
      width: 27.1%;
      margin-top: 21px;
      margin-left: 0;
    }
    &__input {
      width: 100%;
      font-size: $mainFontSize;
      font-weight: $boldWeight;
      border: none;
      background-color: #f2f2f2;
      padding: 17px 6.56% 17px;
      margin-top: 11px;
    }
    &__label {
      @include title_section_item;
      width: 93%;
      margin: 0 0 0 6.56%;
    }
  }
  .group-fields-about:before {
    content: '';
    position: absolute;
    border: 1px solid #e5e5e5;
    width: 13.5%;
    top: 37px;
    left: 60px;
  }
  .group-fields-about:after {
    content: '';
    position: absolute;
    border: 1px solid #e5e5e5;
    width: 14.5%;
    top: 37px;
    right: 60px;
  }
}
