@media(min-width:320px) and (max-width: 766px) {
  .main-header-section {
    // Блок в шапке
    position: relative;
    background-image: url(../img/header-background-x320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 49px;
    margin: 0 auto;
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url(../img/header-border-x320.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &__item {
      // Картинка с надписью Welcome
      background-image: url(../img/header-item-x320.png);
      display: block;
      width: 196px;
      height: 66px;
      margin: 0 auto;
    }
    &__title {
      // Картинка с надписью Sedona
      background-image: url(../img/header-title-x320.png);
      display: block;
      width: 280px;
      height: 48px;
      margin: 61px auto 0;
    }
    &__slogan {
      // Картинка с надписью слогана(Because .....)
      background-image: url(../img/header-slogan-x320.png);
      width: 197px;
      height: 54px;
      margin: 69px auto 0;
    }
  }
  .main-header-section__title--form {
    background: url(../img/form-header-title-x320.png);
    display: block;
    width: 174px;
    height: 30px;
    margin: 0 auto;
  }
  .main-header-section--form {
    //Картинка хедера формы
    background-image: url(../img/header-background-form-x320.jpg);
    background-position: 0 -56px;
    padding-bottom: 80px;
    z-index: -1;
  }
  // .main-header-section--form:before {
  //   // Нижний бордер формы
  //   height: 38px;
  // }
}

@media(min-width:766px) and (max-width: 1200px) {
  .main-header-section {
    // Блок в шапке
    position: relative;
    background-image: url(../img/header-background-x320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 49px;
    margin: 0 auto;
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url(../img/header-border-x768.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &__item {
      // Картинка с надписью Welcome
      background-image: url(../img/header-item-x320.png);
      display: block;
      width: 196px;
      height: 66px;
      margin: 0 auto;
    }
    &__title {
      // Картинка с надписью Sedona
      background-image: url(../img/header-title-x320.png);
      display: block;
      width: 280px;
      height: 48px;
      margin: 61px auto 0;
    }
    &__title--form {
      background: url(../img/form-header-title-x320.png);
      display: block;
      width: 174px;
      height: 30px;
      margin: 0 auto;
    }
    &__slogan {
      // Картинка с надписью слогана(Because .....)
      background-image: url(../img/header-slogan-x320.png);
      width: 197px;
      height: 54px;
      margin: 69px auto 0;
    }
    .main-header-section__title--form {
      background: url(../img/form-header-title-x320.png);
      display: block;
      width: 174px;
      height: 30px;
      margin: 0 auto;
    }
    .main-header-section--form {
      //Картинка хедера формы
      background-image: url(../img/header-background-form-x320.jpg);
      background-position: 0 -56px;
      padding-bottom: 86px;
      z-index: -1;
    }
    .main-header-section--form:before {
      // Нижний бордер формы
      height: 48px;
    }
  }
}
@media(min-width:1200px) {
  .main-header-section {
    // Блок в шапке
    position: relative;
    background-image: url(../img/header-background-x320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 49px;
    margin: 0 auto;
    &:before {
      position: absolute;
      display: block;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url(../img/header-border-x768.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &__item {
      // Картинка с надписью Welcome
      background-image: url(../img/header-item-x320.png);
      display: block;
      width: 196px;
      height: 66px;
      margin: 0 auto;
    }
    &__title {
      // Картинка с надписью Sedona
      background-image: url(../img/header-title-x320.png);
      display: block;
      width: 280px;
      height: 48px;
      margin: 61px auto 0;
    }
    &__title--form {
      background: url(../img/form-header-title-x320.png);
      display: block;
      width: 174px;
      height: 30px;
      margin: 0 auto;
    }
    &__slogan {
      // Картинка с надписью слогана(Because .....)
      background-image: url(../img/header-slogan-x320.png);
      width: 197px;
      height: 54px;
      margin: 69px auto 0;
    }
  }
}
