$mainColor: #81b3d2; // Основной цвет
$fontFamily: 'PT Sans',
'Arial',
sans-serif; // Основной шрифт
$firstFontSize: 18px; // Основной размер шрифта
$secondFontSize: 21px; // Второй размер шрифта на странице
$thirdFontSize: 14px; // Третий шрифт
$boldWeight: 700; // Жирность шрифта
$minWidth: 320px; // Основная ширина
$lineHeight: 26px;
* {
    box-sizing: border-box;
}

body {
    max-width: $minWidth;
    font-family: $fontFamily;
    font-size: $firstFontSize;
    margin: 0 auto;
}

.main-header {
    // Шапка сайта
}

.main-menu {
    display: none;
    // Главное меню
    &--show {
        display: block;
    }
    &__list {
        // Список пунктов главного меню
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        // Пункт меню
        text-decoration: none;
    }
    &__link {
        // Ссылки главного меню
        display: block;
        text-decoration: none;
        font-size: $firstFontSize;
        font-weight: $boldWeight;
        color: #ffffff;
        line-height: 40px;
        text-transform: uppercase;
        margin: 0;
        padding: 7px 0;
        width: $minWidth;
        background: $mainColor;
        border-bottom: 1px solid #678fa8;
        border-top: 1px solid #9ac2db;
    }
    &__item:first-child .main-menu__close {
        // Кнопка закрытия главного меню
        position: absolute;
        content: "";
        background: url(../img/main-menu-close-btn-icon.png);
        width: 23px;
        height: 23px;
        top: 16px;
        right: 20px;
        z-index: 220;
    }
    &__item:first-child {
        // Первый пункт меню
        position: relative;
        z-index: 200;
    }
    &__item:last-child {
        // Послендний пункт меню
        position: relative;
        border-bottom: none;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
    }
    &__item:last-child:after {
        // Тень у последнего пукта меню
        position: absolute;
        content: "";
        background: url(../img/main-menu-item-shadow.png);
        width: $minWidth;
        height: 7px;
        bottom: 0;
        right: 0;
        z-index: 120;
    }
}

.main-menu-bar {
    // Блок с кнопкой вызова меню
    position: relative;
    width: $minWidth;
    height: 56px;
    &__link {
        // Ссылка кнопки вызова меню
        position: absolute;
        background: url(../img/main-menu-bar-icon.png);
        width: 23px;
        height: 22px;
        top: 17px;
        right: 20px;
    }
    .logo-link {
        // ссылка лого
        .logo {
            // Лого
            position: absolute;
            top: 0;
            margin-left: 91px;
            z-index: 115;
        }
    }
}

.main-header-section {
    // Блок в шапке
    position: relative;
    background-image: url(../img/header-background.jpg);
    width: 320px;
    padding-top: 47px;
    padding-bottom: 48px;
    &:before {
        // Левый элемент нижнего бордера
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient( 8deg, #ffffff 47%, transparent 50%);
        height: 25px;
        width: 160px;
    }
    &:after {
        // Правый элемент нижнего бордера
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: linear-gradient( -8deg, #ffffff 47%, transparent 50%);
        background-position: 160px 0;
        height: 25px;
        width: 160px;
    }
    &__item {
        // Картинка с надписью Welcome
        background-image: url(../img/header-item.png);
        width: 196px;
        height: 66px;
        margin-left: 62px;
        margin-bottom: 60px;
    }
    &__title {
        // Картинка с надписью Sedona
        background-image: url(../img/header-title.png);
        width: 280px;
        height: 48px;
        margin-left: 20px;
        margin-bottom: 68px;
    }
    &__slogan {
        // Картинка с надписью слогана(Because .....)
        background-image: url(../img/header-slogan.png);
        width: 197px;
        height: 54px;
        margin-left: 61.5px;
    }
}

.page-content {
    // Основное содержимое
}

.title-section {
    // Блок с заголовком
    position: relative;
    text-align: center;
    padding-bottom: 48px;
    &:before {
        // Левый элемент нижнего бордера
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient( 5deg, #81b3d2 47%, transparent 50%);
        height: 17px;
        width: 160px;
    }
    &:after {
        // Правый элемент нижнего бордера
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: linear-gradient( -5deg, #81b3d2 47%, transparent 50%);
        background-position: 160px 0;
        height: 17px;
        width: 160px;
    }
    &__title {
        // Заголовок
        font-size: $firstFontSize;
        line-height: $lineHeight;
        text-transform: uppercase;
        margin: 38px 32px 0;
    }
    &__item {
        // текст "Рассмотрим 5 причин....."
        font-size: 14px;
        text-transform: uppercase;
        margin: 39px 32px 0;
    }
}

.features-item {
    position: relative;
    // Блок features-itemы
}

.features-item:nth-child(n+3) {
    background: #eeeeee;
}

.features-item:nth-child(n+3):after {
    position: absolute;
    content: " ";
    border-bottom: 1px solid #d6d6d6;
    bottom: 0;
    left: 20px;
    width: 87.5%;
}

.features-item:last-child:after {
    border-bottom: none;
}

.features-item-title-section {
    // Блок с заголовком
    &--blue-bg {
        background: #81b3d2;
    }
    padding-bottom: 29px;
    &__title {
        // Заголовок блока features-item
        font-size: $secondFontSize;
        line-height: $lineHeight;
        text-align: center;
        text-transform: uppercase;
        padding: 26px 0 0;
        margin: 0;
    }
    &__num {
        // Номер блока features-item
        font-size: $thirdFontSize;
        line-height: 21px;
        display: block;
        text-align: center;
        margin: 16px 0 0;
    }
    &__desc {
        // Описание блока features-item
        text-align: center;
        margin: 18px 0 0;
        padding: 0 28px;
        font-size: $thirdFontSize;
        line-height: 21px;
        text-transform: uppercase;
    }
    &__img {
        width: $minWidth;
    }
}

.features-nested-list {
    //Вложенный список в блок features
    &__item {
        //Пункт списка
        position: relative;
        width: 230px;
        margin-left: 70px;
        margin-top: 42px;
    }
    &__item:last-child {
        padding-bottom: 21px;
    }
    &__item-home:before {
        //Иконка пункта "Жилье"
        content: " ";
        position: absolute;
        width: 37px;
        height: 37px;
        left: -50px;
        top: -16px;
        background: url(../img/home-icon.png) no-repeat;
    }
    &__item-food:before {
        //Иконка пункта "Еда"
        content: " ";
        position: absolute;
        width: 37px;
        height: 37px;
        left: -50px;
        top: -16px;
        background: url(../img/food-icon.png) no-repeat;
    }
    &__item-souvenirs:before {
        //Иконка пункта "Сувениры"
        content: " ";
        position: absolute;
        width: 37px;
        height: 37px;
        left: -50px;
        top: -16px;
        background: url(../img/souvenirs-icon.png) no-repeat;
    }
    &__item-title {
        font-size: $firstFontSize;
        font-weight: $boldWeight;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 22px;
        line-height: 15px;
    }
    &__desc {
        //Описание пункта списка
        margin: 0;
        font-size: $thirdFontSize;
        text-transform: uppercase;
        line-height: 21px;
    }
}

.search {
    //Блок поиска гостиницы
    &__title {
        text-align: center;
        font-size: $secondFontSize;
        font-weight: $boldWeight;
        line-height: $lineHeight;
        text-transform: uppercase;
        margin: 34px 0 0;
    }
    &__desc {
        text-align: center;
        font-size: $thirdFontSize;
        line-height: 24px;
        text-transform: uppercase;
        margin: 27px 30px 0;
    }
}

.button {
    //Блок с кнопкой
    padding: 42px 18px 49px;
    &__search {
        //Кнопка "Найти гостиницу"
        font-size: $secondFontSize;
        line-height: $lineHeight;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        border: none;
        background: $mainColor;
        padding: 15px 47px 16px;
    }
}

.social-nav {
    padding: 0 70px;
    margin-top: 39px;
    text-align: center;
    //Блок с соц. сетями
    // padding: 41px 84px 0;
    &__hashtag {
        font-size: $secondFontSize;
        line-height: $lineHeight;
        text-transform: uppercase;
        font-weight: $boldWeight;
        text-align: center;
    }
    .social-nav-block {}
    &__list {
        margin: 0;
        margin-top: 39px;
        padding: 0;
        width: auto;
        list-style: none;
        text-align: center;
    }
    &__link {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 20px 20px;
        width: 46px;
        height: 48px;
        background-color: $mainColor;
        color: transparent;
    }
    &__item {
        display: inline-block;
        padding: 0;
    }
    &__item:first-child &__link:after {
        position: absolute;
        content: "";
        background: url(../img/tw-icon.png) no-repeat;
        width: 18px;
        height: 14px;
        top: 16px;
        right: 14px;
    }
    &__item:nth-child(2) &__link:after {
        position: absolute;
        content: "";
        background: url(../img/fb-icon.png) no-repeat;
        width: 8px;
        height: 18px;
        top: 13px;
        right: 18px;
    }
    &__item:last-child &__link:after {
        position: absolute;
        content: "";
        background: url(../img/yt-icon.png) no-repeat;
        width: 20px;
        height: 14px;
        top: 17px;
        right: 13px;
    }
}

.copyright {
    padding: 0 93px;
    margin-top: 37px;
    &__developed {
        font-size: $thirdFontSize;
        line-height: $lineHeight;
        text-transform: uppercase;
        float: left;
        margin-top: 5px;
        margin-right: 9px;
    }
    &__link {
        display: block;
    }
}
