@media(min-width:320px) and (max-width: 766px) {
  .title-section {
    // Блок с заголовком
    position: relative;
    text-align: center;
    padding: 42px 10% 49px; //32px
    &__title {
      // Заголовок
      font-size: $mainFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__item {
      // текст
      font-size: 14px;
      text-transform: uppercase;
      margin: 35px 0 0;
    }
  }
  .title-section--form {
    padding-top: 76px;
    padding-bottom: 21px;
  }
  .title-section--form:before {
    display: none;
  }
  .title-section--form:after {
    display: none;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .title-section {
    // Блок с заголовком
    text-align: center;
    padding: 42px 10% 49px; //32px
    &--form {
      padding-top: 76px;
      padding-bottom: 21px;
    }
    &--form:before {
      display: none;
    }
    &--form:after {
      display: none;
    }
    &__title {
      // Заголовок
      font-size: $mainFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__item {
      @include title_section_item;
    }
  }
  .title-section__title--form {
    font-size: 30px;
  }
}
@media(min-width:1200px) {
  .title-section {
    // Блок с заголовком
    text-align: center;
    padding: 42px 28% 49px; //32px
    &--form {
      padding-top: 76px;
      padding-bottom: 21px;
    }
    &--form:before {
      display: none;
    }
    &--form:after {
      display: none;
    }
    &__title {
      // Заголовок
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__title--form {
      margin-top: 0;
    }
    &__item {
      @include title_section_item;
    }
  }
}
