.features-list {
  //Вложенный список в блок features
  padding-top: 42px;
  padding-right: 12%;
  padding-bottom: 32px;
  &__title {
    margin: 0;
    font-size: $mainFontSize;
    font-weight: $boldWeight;
  }
  &__item {
    //Пункт списка
    position: relative;
    padding-left: 21.87%;
  }
  &__item:nth-child(n+2) {
    margin-top: 38px;
  }
  &__desc {
    //Описание пункта списка
    margin: 0;
    margin-top: 21px;
    font-size: $thirdFontSize;
    text-transform: uppercase;
    line-height: 21px;
  }
  &__item-home:before {
    //Иконка пункта "Жилье"
    content: " ";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 6%;
    top: -13px;
    background: url(../img/home-icon.png) no-repeat;
  }
  &__item-food:before {
    //Иконка пункта "Еда"
    content: " ";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 6%;
    top: -9px;
    background: url(../img/food-icon.png) no-repeat;
  }
  &__item-souvenirs:before {
    //Иконка пункта "Сувениры"
    content: " ";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 6.8%;
    top: -15px;
    background: url(../img/souvenirs-icon.png) no-repeat;
  }
}
