.form-review {

  &__input {
  }
  &__input-radio[type="radio"] {
    display: none;
  }
  &__input-radio[type="radio"] + label {
    position: relative;
    padding-left: 82px;
    vertical-align: top;
    line-height: 50px;
    font-weight: $boldWeight;
    cursor: pointer;
  }
  &__input-radio[type="radio"] + label:before {
    position: absolute;
    width: 53px;
    height: 53px;
    content: "";
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border-radius: 50%;
  }
  &__input-radio[type="radio"]:checked + label:after {
    position: absolute;
    width: 23px;
    height: 23px;
    content: "";
    top: 15px;
    left: 15px;
    background-color: #333333;
    border-radius: 50%;
  }
}
