.toggle-controls {
  width: 280px;
  border: none;
  padding: 0;
  margin: 0 auto;
  &__plus {
    position: relative;
    display: block;
    float: left;
    background: #f2f2f2;
    width: 60px;
    height: 58px;
    margin-right: 6px;
  }
  &__plus:after {
    position: absolute;
    content: " ";
    background: #b8b8b8;
    width: 20px;
    height: 4px;
    top: 30px;
    left: 20px;
    border-radius: 2px;
  }
  &__plus:before {
    position: absolute;
    content: " ";
    background: #b8b8b8;
    width: 20px;
    height: 4px;
    top: 30px;
    left: 20px;
    transform: rotate(90deg);
    border-radius: 2px;
  }
  &__input {
    @include input_style($width: 73px);
    float: left;
    text-align: center;
  }
  &__data {
    display: block;
    float: left;
    background: #f2f2f2;
    color: #bfbfbf;
    width: 73px;
    height: 58px;
    padding: 19px 0 21px;
    text-align: center;
    margin-right: 6px;
  }
  &__minus {
    position: relative;
    display: block;
    background: #f2f2f2;
    width: 60px;
    height: 58px;
    float: left;
  }
  &__minus:after {
    position: absolute;
    content: " ";
    background: #b8b8b8;
    width: 20px;
    height: 4px;
    top: 30px;
    left: 20px;
    border-radius: 2px;
  }
}