@media(max-width: 766px) {
  .features {
    // Блок с преимуществами
  }
}
@media(min-width: 766px) and (max-width: 1200px) {
  .features {
    // Блок с преимуществами
    display: flex;
    flex-wrap: wrap;
  }
}
@media(min-width: 1200px) {
  .features {
    // Блок с преимуществами
    display: flex;
    flex-wrap: wrap;
  }
}
