@media(max-width: 766px) {
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    background-color: #ffffff;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .footer-wrap {
    display: flex;
    padding: 44px 6px 49px 0;
    background-color: #ffffff;
  }
}
@media(min-width:1200px) {
  .footer-wrap {
    display: flex;
    padding: 22px 0;
    background-color: #ffffff;
  }
}
