@media(min-width:320px) and (max-width: 766px) {
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .footer-wrap {
    display: flex;
    padding: 36px 0;
  }
}
@media(min-width:1200px) {
  .footer-wrap {
    display: flex;
    padding: 36px 0;
  }
}
