@media(min-width:320px) and (max-width: 766px) {
  .main-menu {
    // Главное меню
    &__list {
      // Список пунктов главного меню
      display: none;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }
    &--show {
      display: flex;
    }
    &__item {
      display: flex;
      // Пункт меню
      text-align: center;
      text-decoration: none;
    }
    &__link {
      // Ссылки главного меню
      width: 100%;
      text-decoration: none;
      font-size: $mainFontSize;
      font-weight: $boldWeight;
      color: #ffffff;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
      padding: 14px 0;
      background: $mainColor;
      border-bottom: 1px solid #678fa8;
      border-top: 1px solid #9ac2db;
    }
    &__link:hover {
      background: #669ec0;
    }
    &__link:active {
      color: #94b9d2;
      background: #5496bd;
    }
    &__item:first-child {
      // Первый пункт меню
      position: relative;
      z-index: 100;
    }
    &__item:last-child &__link {
      //Отменяем бордер у последнего пункта меню
      border-bottom: none;
    }
    &__item:last-child {
      // Послендний пункт меню
      position: relative;
    }
    &__item:last-child:after {
      // Тень у последнего пукта меню
      position: absolute;
      content: "";
      box-shadow: inset 0 -5px 10px -4px rgba(0, 0, 0, 0.5);
      bottom: 0;
      right: 0;
      width: 100%;
      height: 57px;
      z-index: 110;
      z-index: 100;
    }
    &__close {
      display: block;
      position: absolute;
      content: "";
      background: url(../img/main-menu-close-btn-icon.png);
      width: 23px;
      height: 22px;
      top: 16px;
      right: 20px;
      z-index: 150;
    }
    &__open-link {
      position: absolute;
      background: url(../img/main-menu-bar-icon.png);
      width: 23px;
      height: 22px;
      top: 17px;
      right: 20px;
      z-index: 180;;
    }
    &__logo-link {
      position: relative;
      display: block;
      width: 67px;
      height: 56px;
      margin: 0 auto;
      z-index: 10;
    }
    &__logo-sedona-wrap {
      position: absolute;
      top: 0;
       left: 50%;
       margin-left: -68px;
       z-index: -1;
    }
  }
}
@media(min-width:766px) and (max-width:1200px){
  .main-menu {
    // Главное меню
    &__list {
      // Список пунктов главного меню
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 15px 0 18px;
    }
    &--show {
      display: flex;
    }
    &__item {
      // Пункт меню
      width: 20.57%;
      text-align: center;
      text-decoration: none;
      margin-left: 15px;
    }
    &__link {
      // Ссылки главного меню
      width: 100%;
      text-decoration: none;
      font-size: $thirdFontSize;
      font-weight: $boldWeight;
      color: #000000;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
      padding: 14px 0;
    }
    &__link:hover {
      color: #81b3d2;
    }
    &__link:active {
      color: #827167;
    }
    &__link:focus {
      color: #cacaca  ;
    }
    &__item:last-child &__link {
      //Отменяем бордер у последнего пункта меню
      border-bottom: none;
    }
    &__logo-link {
      position: absolute;
      top: 0;
      left: 50%;
      width: 67px;
      height: 56px;
      margin-left: -33px;
      z-index: 10;
    }
    &__logo-sedona-wrap {
      position: absolute;
      top: 0;
       left: 50%;
       margin-left: -68px;
       z-index: -1;
    }
  }
  .main-menu__item--margin {
    margin-right: 21.57%;
  }
}
@media(min-width:1200px) {
  .main-menu {
    // Главное меню
    &__list {
      // Список пунктов главного меню
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 14px 0 18px;
    }
    &--show {
      display: flex;
    }
    &__item {
      // Пункт меню
      width: 20.57%;
      text-align: center;
      text-decoration: none;
      margin-left: 15px;
      margin-right: 15px;
    }
    &__link {
      // Ссылки главного меню
      width: 100%;
      text-decoration: none;
      font-size: $thirdFontSize;
      font-weight: $boldWeight;
      color: #000000;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
      padding: 14px 0;
    }
    &__link:hover {
      color: #81b3d2;
    }
    &__link:active {
      color: #827167;
    }
    &__link:focus {
      color: #cacaca  ;
    }
    &__item:last-child &__link {
      //Отменяем бордер у последнего пункта меню
      border-bottom: none;
    }
    &__logo-link {
      position: absolute;
      top: 0;
      left: 50%;
      width: 67px;
      height: 56px;
      margin-left: -33px;
      z-index: 10;
    }
    &__logo-sedona-wrap {
      position: absolute;
      top: 0;
       left: 50%;
       margin-left: -68px;
       z-index: -1;
    }
  }
  .main-menu__item--margin {
    margin-right: 21.57%;
  }
}
