@media(min-width:320px) and (max-width: 766px) {
  .page-content {
    background-color: #ffffff;
  }
}
@media(min-width:766px) and (max-width: 1198px) {
  .page-content {
    background-color: #ffffff;
  }
}
@media(min-width:1198px) {
  .page-content {
    background-color: #ffffff;
  }
}
