@media(min-width:320px) and (max-width: 766px) {
  .search {
    //Блок поиска гостиницы
    margin-top: 25px;
    &__title {
      text-align: center;
      font-size: $secondFontSize;
      font-weight: $boldWeight;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__desc {
      text-align: center;
      font-size: $thirdFontSize;
      line-height: 24px;
      text-transform: uppercase;
      margin: 20px 30px 0;
    }
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .search {
    //Блок поиска гостиницы
    margin-top: 45px;
    &__title {
      text-align: center;
      font-size: $fourthFontSize;
      font-weight: $boldWeight;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__desc {
      text-align: center;
      font-size: $thirdFontSize;
      line-height: 24px;
      text-transform: uppercase;
      padding: 27px 155px 0;
      margin: 0;
    }
  }
}
@media(min-width:1200px) {
  .search {
    //Блок поиска гостиницы
    margin-top: 45px;
    &__title {
      text-align: center;
      font-size: $fourthFontSize;
      font-weight: $boldWeight;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__desc {
      text-align: center;
      font-size: $thirdFontSize;
      line-height: 24px;
      text-transform: uppercase;
      padding: 27px 370px 0;
      margin: 0;
    }
  }
}
