@media(min-width:320px) and (max-width: 766px) {
  .social-nav {
    padding: 0 70px;
    text-align: center;
    //Блок с соц. сетями
    // padding: 41px 84px 0;
    &__hashtag {
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      font-weight: $boldWeight;
      text-align: center;
      align-self: center;
    }
    &__list {
      margin: 32px 0 0;
      padding: 0;
      width: auto;
      list-style: none;
      text-align: center;
    }
    &__link {
      position: relative;
      text-decoration: none;
      display: block;
      padding: 20px;
      width: 46px;
      height: 48px;
      background-color: $mainColor;
      color: transparent;
    }
    &__item {
      display: inline-block;
      padding: 0;
    }
    &__item:first-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/tw-icon.png) no-repeat;
      width: 18px;
      height: 14px;
      top: 16px;
      right: 14px;
    }
    &__item:nth-child(2) &__link:after {
      position: absolute;
      content: "";
      background: url(../img/fb-icon.png) no-repeat;
      width: 8px;
      height: 18px;
      top: 13px;
      right: 18px;
    }
    &__item:last-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/yt-icon.png) no-repeat;
      width: 20px;
      height: 14px;
      top: 17px;
      right: 13px;
    }
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .social-nav {
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding-left: 11px;
    //Блок с соц. сетями
    // padding: 41px 84px 0;
    &__hashtag {
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      font-weight: $boldWeight;
      text-align: center;
      flex-grow: 1;
      align-self: center;
      padding-left: 14px;
    }
    &__list {
      margin: 0;
      padding: 0;
      width: auto;
      list-style: none;
      text-align: center;
      flex-grow: 1;
    }
    &__link {
      position: relative;
      text-decoration: none;
      display: block;
      padding: 20px;
      width: 46px;
      height: 48px;
      background-color: $mainColor;
      color: transparent;
    }
    &__item {
      display: inline-block;
      padding: 0;
    }
    &__item:first-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/tw-icon.png) no-repeat;
      width: 18px;
      height: 14px;
      top: 16px;
      right: 14px;
    }
    &__item:nth-child(2) &__link:after {
      position: absolute;
      content: "";
      background: url(../img/fb-icon.png) no-repeat;
      width: 8px;
      height: 18px;
      top: 13px;
      right: 18px;
    }
    &__item:last-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/yt-icon.png) no-repeat;
      width: 20px;
      height: 14px;
      top: 17px;
      right: 13px;
    }
  }
}
@media(min-width:1200px) {
  .social-nav {
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding-left: 18px;
    //Блок с соц. сетями
    // padding: 41px 84px 0;
    &__hashtag {
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      font-weight: $boldWeight;
      text-align: center;
      flex-grow: 1;
      align-self: center;
      padding-left: 20px;
    }
    &__list {
      margin: 0;
      padding: 0;
      width: auto;
      list-style: none;
      text-align: center;
      flex-grow: 1;
    }
    &__link {
      position: relative;
      text-decoration: none;
      display: block;
      padding: 20px;
      width: 46px;
      height: 48px;
      background-color: $mainColor;
      color: transparent;
    }
    &__item {
      display: inline-block;
      padding: 0;
    }
    &__item:first-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/tw-icon.png) no-repeat;
      width: 18px;
      height: 14px;
      top: 16px;
      right: 14px;
    }
    &__item:nth-child(2) &__link:after {
      position: absolute;
      content: "";
      background: url(../img/fb-icon.png) no-repeat;
      width: 8px;
      height: 18px;
      top: 13px;
      right: 18px;
    }
    &__item:last-child &__link:after {
      position: absolute;
      content: "";
      background: url(../img/yt-icon.png) no-repeat;
      width: 20px;
      height: 14px;
      top: 17px;
      right: 13px;
    }
  }
}
