@media(min-width:10px) and (max-width: 766px) {
  .title-section {
    // Блок с заголовком
    position: relative;
    text-align: center;
    padding: 42px 10% 0;
    background-color: #ffffff;
    &__title {
      // Заголовок
      font-size: $mainFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__item {
      // текст
      font-size: $thirdFontSize;
      line-height: 26px;
      text-transform: uppercase;
      margin: 23px 0 0;
    }
  }
  .title-section--form {
    padding: 74px 15px 10px;
  }
  .title-section--form:before {
    display: none;
  }
  .title-section--form:after {
    display: none;
  }
}
@media(min-width:322px) and (max-width: 766px) {
  .title-section {
    // Блок с заголовком
    position: relative;
    text-align: center;
    padding: 42px 10% 26px;
  }
}
@media(min-width:766px) and (max-width: 1200px) {
  .title-section {
    // Блок с заголовком
    text-align: center;
    padding: 56px 15.85% 50px;
    &--form {
      padding-top: 68px;
      padding-bottom: 45px;
    }
    &--form:before {
      display: none;
    }
    &--form:after {
      display: none;
    }
    &__title {
      // Заголовок
      font-size: $mainFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__item {
      @include title_section_item;
    }
  }
  .title-section__title--form {
    font-size: 30px;
  }
  .title-section__item--form {
    margin-top: 25px;
  }
}
@media(min-width:1200px) {
  .title-section {
    // Блок с заголовком
    text-align: center;
    padding: 42px 28% 49px; //32px
    &--form {
      padding-top: 76px;
      padding-bottom: 21px;
    }
    &--form:before {
      display: none;
    }
    &--form:after {
      display: none;
    }
    &__title {
      // Заголовок
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      margin: 0;
    }
    &__item {
      @include title_section_item;
      padding: 0 40px;
    }
  }
  .title-section__title--form {
    font-size: 30px;
  }
}
