@media(max-width: 766px) {
  .upload-img {
    position: relative;
    padding: 21px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
      @include title_style;
      color: #000000;
      width: 100%;
    }
    &__input[type="file"] {
      display: none;
    }
    &__input[type="file"]+label {
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      background: #f2f2f2;
      border: none;
      padding: 15px 23px 12px;
      margin: 0 auto;
      max-width: 280px;
    }
    &__input[type="file"]:hover+label {
      background: #e5e5e5;
      color: #8c8c8c;
      font-weight: $boldWeight;
    }
    &__input[type="file"]:active+label {
      background: #d5d5d5;
      color: #afafaf;
    }
    &__wrap {
      width: 100%;
      padding-top: 15px;
    }
    &__item-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 55px;
      max-width: 280px;
    }
    &__item {
      position: relative;
      width: 70px;
      height: 70px;
      margin-right: 35px;
      margin-bottom: 35px;
    }
    &__item:nth-child(3n) {
      margin-right: 0;
    }
    &__item:nth-child(7) {
      margin-bottom: 0;
    }
    &__item-del {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #f2f2f2;
      top: -15px;
      right: 19px;
      z-index: 100;
    }
    &__item-del:after {
      content: '';
      position: absolute;
      height: 17px;
      width: 2px;
      background-color: #b8b8b8;
      top: 7px;
      right: 14px;
      transform: rotate(45deg);
      z-index: 150;
    }
    &__item-del:before {
      content: '';
      position: absolute;
      height: 17px;
      width: 2px;
      background-color: #b8b8b8;
      top: 7px;
      right: 14px;
      transform: rotate(-45deg);
      z-index: 150;
    }
    &__img {
      width: 70px;
      height: 70px;
    }
  }
  .upload-img__label-tab {
    display: inline;
  }
  .upload-img__label-desk {
    display: none;
  }
  .upload-img:before {
    @include border_mobile
  }
}
@media(min-width:766px) and (max-width: 1198px) {
  .upload-img {
    padding: 34px 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
      @include title_style;
      position: relative;
      color: #000000;
      width: 100%;
      font-size: 21px;
    }
    &__input[type="file"] {
      display: none;
    }
    &__input[type="file"]+label {
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      background: #f2f2f2;
      border: none;
      padding: 17px 26px 14px;
      margin: 0 auto;
      max-width: 458px;
      font-weight: $boldWeight;
    }
    &__input[type="file"]:hover+label {
      background: #e5e5e5;
      color: #8c8c8c;
    }
    &__input[type="file"]:active+label {
      background: #d5d5d5;
      color: #afafaf;
    }
    &__wrap {
      width: 100%;
      padding-top: 58px;
      padding-bottom: 26px;
    }
    &__item-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 55px;
      justify-content: flex-start;
      max-width: 578px;
    }
    &__item {
      position: relative;
      width: 140px;
      height: 140px;
      margin-right: 65px;
      margin-bottom: 67px;
    }
    &__item:nth-child(3n) {
      margin-right: 0;
    }
    &__item:nth-child(7) {
      margin-bottom: 0;
    }
    &__item-del {
      content: '';
      position: absolute;
      width: 61px;
      height: 61px;
      border-radius: 50%;
      background: #f2f2f2;
      top: -30px;
      right: -30px;
      z-index: 100;
    }
    &__item-del:after {
      content: '';
      position: absolute;
      height: 35px;
      width: 3px;
      background-color: #b8b8b8;
      top: 14px;
      right: 28px;
      transform: rotate(45deg);
      z-index: 150;
    }
    &__item-del:before {
      content: '';
      position: absolute;
      height: 35px;
      width: 3px;
      background-color: #b8b8b8;
      top: 14px;
      right: 28px;
      transform: rotate(-45deg);
      z-index: 150;
    }
    &__img {
      width: 140px;
      height: 140px;
    }
  }
  .upload-img__label-tab {
    display: inline;
  }
  .upload-img__label-desk {
    display: none;
  }
  .upload-img__title:before {
    @include border_tab_and_desk_before(15px);
  }
  .upload-img__title:after {
    @include border_tab_and_desk_after(15px);
  }
}
@media(min-width:1200px) {
  .upload-img {
    padding: 38px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
      @include title_style;
      position: relative;
      color: #000000;
      width: 100%;
      font-size: 21px;
    }
    &__input[type="file"] {
      display: none;
    }
    &__input[type="file"]+label {
      display: block;
      font-size: $secondFontSize;
      line-height: $mainLineHeight;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      background: #81b3d2;
      border: none;
      padding: 17px 26px 14px;
      margin: 0 auto;
      width: 100%;
      font-weight: $boldWeight;
    }
    &__wrap {
      width: 100%;
      padding-top: 52px;
    }
    &__item-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 83px;
      justify-content: flex-start;
      max-width: 960px;
    }
    &__item {
      position: relative;
      width: 140px;
      height: 140px;
      margin-right: 65px;
      margin-bottom: 68px;
    }
    &__item:nth-child(5n) {
      margin-right: 0;
    }
    &__item:nth-child(7) {
      margin-bottom: 0;
    }
    &__item-del {
      content: '';
      position: absolute;
      width: 61px;
      height: 61px;
      border-radius: 50%;
      background: #f2f2f2;
      top: -30px;
      right: -30px;
      z-index: 100;
    }
    &__item-del:after {
      content: '';
      position: absolute;
      height: 35px;
      width: 3px;
      background-color: #b8b8b8;
      top: 14px;
      right: 28px;
      transform: rotate(45deg);
      z-index: 150;
    }
    &__item-del:before {
      content: '';
      position: absolute;
      height: 35px;
      width: 3px;
      background-color: #b8b8b8;
      top: 14px;
      right: 28px;
      transform: rotate(-45deg);
      z-index: 150;
    }
    &__img {
      width: 140px;
      height: 140px;
    }
  }
  .upload-img__label-tab {
    display: none;
  }
  .upload-img__label-desk {
    display: inline;
  }
  .upload-img__title:before {
    @include border_tab_and_desk_before(15px, 28.8%);
  }
  .upload-img__title:after {
    @include border_tab_and_desk_after(15px, 28.8%);
  }
}
